<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Clean Blog - Start Bootstrap Theme</title>

    <%- include layout/head %>
</head>

<body>
    <!-- Navigation -->
    <%- include layout/nav %>
    
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/theme/img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Khanhjm's Blog</h1>
                        <span class="subheading">Smile and the world smiles with you. Cry and you will cry alone</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto"> 
                <% if (data && data.error) { %>
                <div class="alert alert-danger col-sm-12">
                    <%= data.error %>
                </div>
                <% } else if (data && data.posts) { %>
                    <% for(var i=0; i< data.posts.length; i++) { %>
                        <div class="post-preview">
                            <a href="/blog/post/<%= data.posts[i].id %>">
                                <h2 class="post-title">
                                    <%= data.posts[i].title %>
                                </h2>
                                <h3 class="post-subtitle">
                                    <%- data.posts[i].description %>
                                </h3>
                            </a>
                            <p class="post-meta">Posted by
                                <a href="/<%= data.posts[i].author %>"><%= data.posts[i].author %></a>
                                on <%= moment(data.posts[i].created_at).format("dddd, MMMM d, YYYY") %>
                            </p>
                        </div>
                        <hr>
                    <% } %>
                <% } %>

                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <!-- Footer -->
    <%- include layout/footer %>
    
    <!-- Script -->
    <%- include layout/script %>

</body>

</html>